<template>
  <div  class="gameplay">
    <slot />
    <v-pause v-show="$store.state.isPaused" />
  </div>
</template>

<script>
import { FOXAL_RESOURCE_STATE } from '@core';
import defaultUI from  '../abstracts/defaultUI';
export default {
  name: 'GamePlay',
  extends: defaultUI
}
</script>

<style lang="scss">
  .gameplay {
    padding: 32px;
    font-size: 24px;
  }
</style>