<template>
  <div class="menu">
    <slot />
  </div>
</template>

<script>
import { rendererInstance } from '../../engine/renderer'
import defaultUI from '../abstracts/defaultUI';

export default {
  name: 'SceneMenu',
  extends: defaultUI
}
</script>

<style lang="scss" scoped>
  .menu {
    
  }
</style>