<template>
  <button class="button" @click="$emit('click', $event)">
    <slot />
  </button>
</template>

<style lang="scss" scoped>
  .button {
    font-family: inherit;
    text-transform: uppercase;

    padding: 5px 20px;
    font-size: 28px;
    background-color: rgba(#e6ffff, 0.1);
    border: 4px solid transparent;
    border-image: url(../../gfx/button.png) 4;
    color: #e6ffff;
    outline: none;
    image-rendering: pixelated;

    cursor: pointer;

    &:hover {
      background-color: rgba(#fff, 0.23);
      box-shadow: 0 0 22px #e6ffff42;
    }
    
    &:active {
      background-color: #fff;
      box-shadow: 0 0 22px #e6ffff42;
      color: #000;
    }
  }
</style>