<template>
  <div class="notification">
    <div class="notification__window">
      <div class="notification__icon" :data-icon='$store.state.messageData.title'>
      </div>

      <div ref="text" class="notification__text">
        <div class="notification__container" v-html="$store.state.messageData.message"/>
      </div>

      <div ref="actions" class="notification__actions">
        <v-button @click="$store.commit('message/HIDE'); $emit('close')">Ok</v-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'VNotification',
  mounted () {
    const { text, actions } = this.$refs;
    text.style.height = text.scrollHeight + 'px';
    actions.style.height = actions.scrollHeight * 1.1 + 'px';
  }
}
</script>

<style lang="scss" scoped>
  .notification {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.9);
    backdrop-filter: blur(8px);
    font-size: 28px;


    &__window {
      width: 100%;
      margin: auto;
    }

    &__icon {
      position: relative;
      width: 100%;
      text-align: center;
      background: #fff;
      color: #fff;

      animation: transitionIcon 1s;
      animation-fill-mode: forwards;
      &::after {
        position: relative;
        content: attr(data-icon);
      }
    }

    &__text {
      color: #fff;
      background: darken(#6c88a9, 20%);
      overflow: hidden;
      transition: cubic-bezier(.8,0,.2,1) 0.5s;
      height: 0;
      transition-delay: 0.25s;
      text-align: center;
    }

    &__container {
      max-width: 600px;
      margin: auto;
      padding: 20px 0;
    
      

      /deep/ {
        h1 {
          font-size: 28px;
          margin: 0;
        }

        p {
          margin: 0;
          font-size: 14px;
        }
      }
      
    }

    &__actions {
      text-align: right;
      overflow: hidden;
      height: 0;
      transition: cubic-bezier(.8,0,.2,1) 0.5s;
      transition-delay: 0.25s;
      padding: 0 60px;
    }
  }

  @keyframes transitionIcon {
    to {
      background-color: #6c88a9;
    }
  }
</style>