<template>
  <div class="pause">
    <div>
      █ PAUSED
    </div>
    <ul class="maplist">
      <li v-for="mapName in mapList" :key="mapName">
        <v-button @click="openMap(mapName)"> Load {{ mapName }} </v-button>
      </li>
    </ul>
  </div>
</template>

<script>
import defaultUI from 'game/ui/abstracts/defaultUI'
import maps from 'game/maps'
import { gameInterface } from 'game/helpers/gameInterface'

export default {
  extends: defaultUI,
  data () {
    return {
      maps
    }
  },
  computed: {
    mapList () {
      return Object.keys(this.maps)
    }
  },
  methods: {
    openMap (name) {
      gameInterface.triggerEvent('request:map', name);
      this.$store.commit('pause/SET', false);
    }
  }
}
</script>

<style lang="scss" scoped>
  .pause {
    backdrop-filter: blur(42px);
    font-size: 28px;
    color: #fff;

    padding: 32px;

    .maplist {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-top: 10px;
      li {
        margin-bottom: 5px;
      }
    }
  }
</style>