<template>
  <div>
    <component v-if="$store.state.scene !== 'noscene'" :is="$store.state.scene">
      <v-message :key="'message-' + $store.state.messageData.title" v-if="$store.state.isShowingMessage" />
    </component>
  </div>
</template>

<script>
import { components } from "./scenes";
import { components as UIComponents } from "./components";

export default {
  components: {
    ...UIComponents,
    ...components,
  }
}
</script>